/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.main_link_box_fluid.rotate {
  transform: rotate(180deg);
  margin-left: 13px;
}

.main_link_box_fluid.rotate .main_link_box {
  transform: rotate(180deg);
}

.main_link_box_fluid.rotate .main_link_box a {
  padding: 7px 18px 7px 35px;
}
