.modal-dialog {
  .success {
    display: none !important;
  }

  .fail {
    display: none !important;
  }

  .modal-content {
    border: 10px solid rgba(0, 0, 0, 0.4);
  }

  .order-sent-box {
    padding: 50px;

    .order-img {
      width: 50px;
      height: 50px;
      border: 3px solid #f2f2f2;
      margin: 10px auto;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }

    .order-text {
      color: black;
      text-align: center;
      margin-top: 20px;
      @include family(notoregular);
      font-size: 12px;
    }

    .order-sent {
      .apartment_order_title {
        display: inline-block;
        padding: 22px 0;
        border-bottom: 1px solid #f2f2f2;
        width: 100%;
        text-align: center;

        .sent-fail {
          color: #d5343f;
        }

        h4 {
          color: #4f934b;
        }

        * {
          @include family(noto);
          color: #1e1e1e;
          font-size: 30px;
        }
      }
    }
  }

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #f47e5e;
    padding: 15px;
    transition: 0.3s;
    opacity: 1;

    svg {
      fill: white;
    }

    &:hover {
      opacity: 0.7;
    }
  }
  .apartment_order_fluid {
    padding: 50px 40px;

    .apartment_order_title {
      display: inline-block;
      padding-bottom: 11px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
      text-align: center;

      * {
        @include family(noto);
        color: #1e1e1e;
        font-size: 30px;
      }
    }

    .apartment_order_form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 430px;
      margin-top: 20px;

      span {
        font-size: 12px;
        color: #d5343f;
        margin-left: 10px;
        @include family(noto);
      }

      select,
      input {
        border-bottom: 1px solid #5e5e5e;
        width: 100%;
        padding: 5px;
        height: 100%;
      }
      & > div {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 35px;
      }
      * {
        color: #5e5e5e;
        @include family(notosans);
        font-size: 16px;
      }

      .antique_button {
        button {
          border: none;
          outline: none;
          background-color: #fdeae3;
          padding: 13px 54px;
          transition: all 0.2s;
          cursor: pointer;

          &:hover {
            background-color: #f47e5e;
            color: #fff;
          }
        }
      }

      .input_name {
        flex: 0 0 57% !important;
        max-width: 56% !important;
      }

      .antique_button {
        flex: unset !important;
      }

      .mobile_col {
        position: relative;

        &:after {
          content: '+995';
          position: absolute;
          display: block;
          left: 7px;
          top: 27px;
          transform: translateY(-50%);
          font-family: 'Conv_dejavu-sans', sans-serif;
          color: #707070;
        }
        input {
          padding-left: 50px !important;
        }
      }
    }
  }
}
