body {
  background: white;
}

.news-container {
  width: 80%;
  margin: 80px auto;
  background: white;
  color: #1e1e1e;
  padding: 15px;

  .title {
    @include family(notoregular);
    font-size: 70px;
    color: #2c3e50;
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
  }

  .news-section {
    display: flex;
    padding: 30px;
    border: 1px solid #d4eceb;

    margin: 12px;

    .news-img {
      width: 75%;

      img {
        width: 100%;
        max-height: 700px;
        transition: 0.3s;
        border: 4px solid transparent;

        &:hover {
          border: 4px solid #ffd392;
        }
      }
    }

    .news-info {
      width: 100%;
      padding: 30px 20px 10px;

      .news-title {
        font-size: 24px;
        padding-bottom: 20px;
      }

      span {
        padding-right: 15px;

        img {
          width: 30px;
        }
      }

      p {
        padding: 20px 0;
        padding-bottom: 30px;
        max-height: 90px;
        overflow: hidden;
      }
    }
  }

  .news-grid {
    .col-lg-4 {
      padding-right: 8px !important;
      padding-left: 8px !important;
    }
    .news-box {
      margin-bottom: 60px;
      height: 100%;

      .news-box-title {
        padding: 4px;
        text-align: center;
        max-height: 80px;
        overflow: hidden;

        a {
          color: #1e1e1e;
          padding: 4px;
        }
      }

      .news-box-img {
        position: relative;
        transition: 0.3s;
        border: 4px solid transparent;
        height: 70%;
        overflow: hidden;

        a {
          img {
            width: 100%;
            max-height: 500px;
            height: 100%;
            object-fit: cover;
          }
        }

        .news-date {
          position: absolute;
          bottom: 0px;
          background: #ffd392;
          padding: 6px 15px 4px 6px;
          display: none;

          img {
            width: 30px;
            margin: 0 8px;
            padding-bottom: 3px;
          }
        }
      }

      &:hover {
        .news-box-img {
          border: 4px solid #ffd392;

          .news-date {
            display: block;
          }
        }
      }
    }

    .see-more {
      text-align: center;
      margin-top: 25px;

      img {
        width: 30px;
        margin: 15px;
      }

      span {
        margin: 70px;
      }

      a {
        padding: 16px;
        background: #f2f2f2;
        text-transform: capitalize;
      }
    }
  }
}

.news-page-container {
  width: 65%;
  margin: 60px auto;
  background: white;
  color: #1e1e1e;

  .main-img {
    width: 100%;

    img {
      width: 100%;
      max-height: 750px;
    }
  }

  .main-title {
    display: flex;
    align-items: center;

    span {
      padding: 35px;
    }

    h2 {
      padding: 40px 10px;
      font-size: 24px;
      line-height: 35px;
      @include family(notoregular);
    }
  }

  .news-text {
    .d-flex {
      padding-bottom: 20px;

      .d-flex-img {
        width: 80%;

        img {
          width: 100%;
          max-height: 750px;
        }
      }

      p {
        padding-left: 15px;
        width: 100%;
      }
    }

    .news-gallery {
      margin: 15px 0 20px;
      img {
        width: 100%;
        max-height: 350px;
        padding-bottom: 10px;
      }
    }
  }

  .news-navigation {
    display: flex;
    margin-top: 50px;

    .news-nav-right {
      text-align: right;

      width: 50%;

      .main_link_box_fluid {
        margin-right: 8px;
      }
    }

    .news-nav-left {
      width: 50%;

      .main_link_box_fluid {
        margin-left: 8px;
        &:hover {
          .main_btn_arrow {
            left: -11%;
          }
        }
      }
      .main_btn {
        padding: 7px 18px 7px 35px;
      }
      .main_btn_arrow {
        position: absolute;
        top: 34%;
        left: -9%;
        z-index: 4;
        transition: all 0.3s;
        cursor: pointer;
        transform: rotate(180deg);

        &:hover {
          left: -11%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .news-page-container {
    width: 80%;

    .d-flex {
      flex-direction: column;

      .d-flex-img {
        width: 100% !important;
        padding: 10px 0;
      }
    }
  }

  .news-container {
    width: 100%;

    .news-section {
      flex-direction: column;

      .news-img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .news-page-container {
    width: 90%;

    .main-title {
      align-items: unset;
      flex-direction: column;

      h2 {
        padding: 0 0 20px;
      }

      span {
        padding: 15px 0 0;
      }
    }

    .news-nav-left {
      padding-right: 15px;
    }

    .news-nav-right {
      padding-left: 15px;
    }
  }

  .news-container {
    width: 100%;

    .news-section {
      padding: unset;
    }

    .news-grid {
      .news-box {
        margin-bottom: 20px;
        height: auto;

        .news-box-img {
          img {
            max-height: 350px;
            height: auto;
            object-fit: cover;
          }
        }
      }

      .see-more {
        a {
          padding: 10px;
          background: #f2f2f2;
          text-transform: capitalize;

          img {
            width: 25px;
          }

          span {
            margin: 15px;
          }
        }
      }
    }
  }
}
